{% extends 'linked/base.html' %}

{% block content %}

<div class="jumbotron">
            <h1 class="display-4">Welcome to WebIndex!</h1>
            <p class="lead">Simple way to find the best of what you are looking for.</p>
            <hr class="my-4">
            <p>We index the web for you, but remember that WE ARE YOU.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
        <br>
<!--        <h2>Categories</h2>-->


{% if cats %}
{% for cat in cats %}
        <hr>
        <h3>{{ cat.category.name }}</h3>
        {% for link in cat.links %}
        <!-- A LINK CARD -->
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h3>{{link.link.name}} <span class="linkdomain">({{link.link.domain}})</span></h3>
                        <span class="linkurl"><i class="fas fa-link"></i> {{link.link.url}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><b>Description: </b>{{link.link.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if link.average == None %}
                        No ratings yet.
                        {%else %}
                        {{link.average | stringformat:"i" }} <i class="fas fa-star"></i>
                        ({{link.total}} <li class="fas fa-users"></li>)
                        {%endif%}

                    </div>
                        <div class="col">
                            <li class="fas fa-user"></li> <a href="profile/{{link.link.by}}">{{link.link.by.display_name}}</a>
                        <li class="fas fa-layer-group"></li> <a href="category/{{cat.category.pk}}">{{cat.category.name}}</a>
                    </div>
                    <div class="col">
                        <div class="float-right">
                            <a class="btn btn-primary" href="#"><i class="fas fa-paper-plane"></i> Redirect</a>
                            <a class="btn btn-primary" href="#" type="button" data-toggle="collapse"
                               data-target="#collapseComment{{link.link.pk}}" aria-expanded="false" aria-controls="collapseComment{{link.link.pk}}"><i class="fas fa-comments" ></i> Reviews
                                <span>( <i class="fas fa-users" style="font-size: small;"></i> {{link.total}})</span></a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="collapse" id="collapseComment{{link.link.pk}}">
                            {% if not link.reviews %}
                                <div class="card card-body">
                                    No reviews yet.
                                </div>
                            {% else %}
                                {% for review in link.reviews %}
                                    <div class="card card-body">
                                        {{review.review}}
                                    </div>
                                    <br>
                                {% endfor %}
                            {% endif %}
                            <hr>
                            {% if auth %}
                                <div class="card card-body">
                                    <h5>Your review:</h5>
                                    <form action="{{link.link.pk}}/" method="POST">
                                        {% csrf_token %}
                                        {{form}}
                                        <button type="submit">Review</button>
                                    </form>
                                </div>
                            {%else%}
                                <div class="card card-body">
                                    Login or register to do a review.
                                </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endfor%}
{%endfor%}
        <br>
        <!-- LINK CARD END -->

        <!-- A LINK CARD -->
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h3>MegaMind.io <span class="linkdomain">(megamind.io)</span></h3>
                        <span class="linkurl"><i class="fas fa-link"></i> https://www.megamind.io/</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><b>Description: </b>MegaMind provides the best computer services such as web and software
                            development, network design and implementation.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        4.8 <i class="fas fa-star"></i>
                        (1,234 <li class="fas fa-users"></li>)

                    </div>
                    <div class="col">
                        <li class="fas fa-user"></li> <a href="#">Erfan Khaksar</a>
                        <li class="fas fa-layer-group"></li> <a href="#">Computer Services</a>
                    </div>
                    <div class="col">
                        <div class="float-right">
                            <a class="btn btn-primary" href="#"><i class="fas fa-paper-plane"></i> Redirect</a>
                            <a class="btn btn-primary" href="#"><i class="fas fa-comments"></i> Reviews
                                <span>( <i class="fas fa-users" style="font-size: small;"></i> 1234)</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- LINK CARD END -->


{% endif %}

{% endblock %}