{% extends 'linked/base.html' %}

{% block content %}
{% if user %}


<div class="card">
  <h5 class="card-header">{{user.user.username}}</h5>
  <div class="card-body">
    <h5>Email Address</h5>
    <p>{{user.user.email}}</p>
    <h5>Points</h5>
    <p>{{user.points}}</p>
    <h5>Jointed on</h5>
    {{user.joined_on}}
    <h5>Last Seen</h5>
    <p>{{user.user.last_login}}</p>
    <h5 class="card-title">Bio</h5>
    <p class="card-text">{{user.bio}}</p>
    <hr>
    <a href="#" class="btn btn-primary">Edit</a>
  </div>
</div>




{% else %}
<h1>User not found</h1>
{% endif %}
{% endblock %}
